
name: API Test

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  # Hanya perlu 'contents: read' untuk checkout kode
  contents: read 

jobs:
  build:
    runs-on: ubuntu-latest
    
    # Semua perintah (run) akan dieksekusi di dalam folder ./api-test
    defaults:
      run:
        working-directory: ./api-test 

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set up JDK 11
        uses: actions/setup-java@v4.0.0
        with:
          java-version: '11'
          distribution: 'temurin'

      # Langkah setup Chrome dihapus karena umumnya tidak diperlukan untuk API Test.
      # Jika Anda membutuhkannya, kembalikan langkah ini.

      - name: Build, Run Tests, and Prepare Allure
        run: |
          # Jadikan gradlew executable
          chmod +x gradlew 
          
          # Jalankan task build (membersihkan dan kompilasi)
          ./gradlew build 
          
          # Jalankan task test (menghasilkan allure-results)
          ./gradlew clean test
      
      # --- ARTIFACT GENERATION DAN UPLOAD ---
      - name: Allure report
  # You may pin to the exact commit or the version.
  # uses: afiore/action-allure-report@e43ebd6f4f4c74b07b1eb02f042902bbe6786a19
        uses: afiore/action-allure-report@v0.1.0
        with:
    # Allure test result data dir
         results-dir: allure-results
    # Allure report target dir
         report-dir: allure-report
          
